.App {
  text-align: center;
}

.App .Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.BookList {
  list-style: none;
}

.BookList img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
}

.BookList li {
  border: 16px;
  width: 600px;
  height: 300px;
}

.BookList li span {
  display: block;
}
